
.center{
    width: 538px;
    margin: 10px auto;
}
.register{
    width: 538px;
    margin: 10px auto;
}
.contents{
    width: 400px;
    height: 50px;
    margin: 3px;

}
.writer{
    width: 400px;
    margin: 3px;
}
.title{
    width: 400px;
    margin: 3px;
}
.background-header {
    position: fixed;
    z-index: -1;
    top: 0px;
    width: 500%;
    height: 200px;
    background-color: #339af0;
}

.background-body {
    position: static;
    z-index: -1;
    top: 200px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.header {
    margin-top: 50px;
}

.header h2 {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    height: 33px;
    font-size: 42px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.79;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
}

.header p {
    margin: 40px auto;
    width: 217px;
    height: 48px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.12px;
    text-align: center;
    color: #ffffff;
}



